<header id="header" class="header sticky-top" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="branding d-flex align-items-center">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a routerLink="" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">Medilab</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="" class="active">Home</a></li>
          <li><a routerLink="#about">About</a></li>
          <li><a routerLink="#services">Services</a></li>
          <li class="dropdown">
            <a href="#">
              <span>Activities</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li class="dropdown">
                <a href="#"><span>Glycemia</span> <i
                  class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a routerLink="/addGlycemie">Add Glycemia</a></li>
                  <li><a routerLink="/glycemies">Your Glycemies</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#"><span>User</span> <i
                  class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a routerLink="/users">Our users</a></li>
                  <li><a routerLink="/adduser">Add User</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a th:href="@{/#contact}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Icon" class="profile-icon"
           id="profileIcon"
           style="position: fixed; top: 20px; right: 20px; height: 50px; width: 50px; border: 3px solid var(--nav-hover-color); border-radius: 50%; cursor: pointer; box-shadow: 0 0 10px rgba(25, 119, 204, 0.5);">

    </div>
  </div>
</header>
